@import url(http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url("normalize.css");

body {
	background: #330000;
	font-family: "Rosario" , Helvetica ,Arial sans-serif;
	width: 70%;
	margin:  0; 
}
h1, h2, h3, h4 {
	font-family: "Rosario", cursive;
	color: #FFFFCC;
}
.lead{
	font-family: "Rosario", cursive;
	color: #FFFFCC;
}
#menu-vertical {
  margin:0;
  padding:0;
}

#menu-vertical li {
  display:block;
  border-bottom:1px solid #406480;
  border-radius: 6px;
  width:200px;
  background:#cfdce6;
}

#menu-vertical li a {
  display:block;
  padding:5px 5px 5px 10px;
  font-size:20px;
  color:#507ea1;
  text-decoration:none;
  line-height:40px;
}

#menu-vertical li a:hover {
  color:#333;
  background:#f0f0f0;
}

#menu-vertical a.active {
  color:#333;
  background:#f0f0f0;
}
.product-list-wrapper {
	height: 400px;
	padding: 20px 0;
	overflow: hidden;
	overflow-x: scroll;
}
.product-list-horizontal {
	list-style: none;
	white-space: nowrap;
}
.product-list-horizontal li {
	display: inline-block;
	margin-left: 20px;
}
.product-list-horizontal li:first-child {
	margin-left: 0;
}
.product-list-wrapper::-webkit-scrollbar {
	width: 12px;
}
.product-list-wrapper::-webkit-scrollbar:horizontal {
	height: 8px;
}
.product-list-wrapper::-webkit-scrollbar-track {
	background-color: #333;
	border-left: 0;
}
.product-list-wrapper::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 2px;
}
.product-list-wrapper::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
.product_femenino{
display: block;
}
.product_femenino : :-before {
}
.borders{
width: 32%;
float: left;
overflow: hidden;
margin: 0 2% 25px 0;
position: relative;
}
.borders:nth-child(3n) {
margin-right: 0;
}
.container {
    position: relative;
    width: 70%;
    max-width: 600px; 
    margin: 1em auto;
}
.container header {
    background: #f44;
    color: #fff;
    padding: 5px 10px 10px;
}
.container article {
    width: 80%;
    float: left;
}
.container aside {
    width: 20%;
    float: left;
    background: pink;
    margin: 1em 0;
}
#header {
margin: 0 auto;
}
#header-logo-container {
float: left;
position: relative;
margin-top: 2px;
width: 200px;
}
#header .header-logo-container #logo-container {
display: inline-block;
vertical-align: middle;
}
#header #logo {
background: no-repeat url(img/logo.hache-3.png) 0 -1184px;
background-size: auto;
width: 200px ;
height: 155px;
}
#header .header-logo-container #logo-container {
display: inline-block;
vertical-align: middle;
}
#header #logo {
background: no-repeat url(img/nah-2.png) 0 -1184px;
background-size: auto;
width: 200px ;
height: 155px;
}
#principal{
  width: 610px;
  padding: 10px;
  margin: 10px;
  }
 
#principal #flotante{
  float: left;
  width: 300px;
  }
#principal p{
  margin-top: 0;
  margin-left: 310px;
  color: #FFFFCC;
  }
footer {
  color: #FFFFCC;
}
form {
  color: #FFFFCC;
}
table {
  color: #FFFFCC;
}
#contact {
  color: #FFFFCC;
}
