@import url(http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url("normalize.css");

body {
	background: #e5e5e5;
	font-family: "Pontano Sans" , Helvetica ,Arial sans-serif;
	width: 70%;
	margin:  0 auto; /* arriba/abajo derecha/izquierda */
}
h1, h2, h3, h4 {
	font-family: "Pontano Sans", cursive;
	color: #f8f8f8;