{% extends "base.html" %}


{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block titulo %} 
	{% trans "Contacto" %} 
{% endblock %}


{% block contenido %}

       <!-- Contact Form -->
            <form method="POST" action="{% url "contact_form" %}">{% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row half">
                    <div class="6u"><input type="text" name="name" placeholder="{% trans "Nombre" %}"  value="{% if form.name.value %}{{ form.name.value }}{% endif %}" required /><p>{{ form.name.errors }}</p></div>

                    <div class="6u"><input type="email" name="email" placeholder="{% trans "Email" %}"  value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required /><p>{{ form.email.errors }}</p></div>
                </div>
                <div class="row half">
                    <div class="12u"><textarea placeholder="{% trans "Mensaje" %}" rows="6" name="message" required>{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea><p>{{ form.message.errors }}</p></div>
                </div>
                <div class="row">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit" value="{% trans "Enviar Mensaje" %}" /></li>
                        </ul>
                    </div>
                </div>
            </form>

{% endblock %}
